* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    top: -140px;
    text-align: center;
    color: #b83f45;;
    width: 100%;
    font-size:80px;
    font-weight: 200;
    padding-top: 5%;
    margin: 66,4px 0px;

}

#toggle-all{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1,5em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(43,54,130,1) 35%);
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#input-form{
    display: grid;
    grid-template:
       'a b';
       margin-top: 10px;
       padding-left: 10px;
    background-color: white;
}

#input-form:focus-within {
    box-shadow: 0 0 2px 2px red;
    outline: 0;
}

.input-container input{
    font-size: 25px;
    font-style: italic;
    padding: 10px 10px 10px 60px;
    color: rgb(0, 0, 0);
    height: 70px;
    width: 514px;
    border: none;   
}

.label-container label {
    font-size: 20px;
}

label#toggle-all{
    padding-left: 0px;
}


.label-container {
    margin: auto;
}

input{
    border: none;
    outline: none;
}

#list li{
    display: grid;
    grid-template:
       'a b c' 100%/ 10% 80% 10%;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    margin-top: 1px;
    font-size: 30px;
    width: 552px;
    border-top: 1px solid #dfdfdf;
    list-style-type: none;  
}
#list input,
#list label {
    font-size: 30px;
    word-wrap: break-word;
    margin-right: 30px;
}

#list text-form :focus {
    box-shadow: 0 0 2px 2px solid red;
    outline: 0;
}
li:hover .delete-mark{
    display: grid;
}

.delete-mark{
    display: none;
    background-color: transparent;
    border: none;
}

li .delete-mark::before {
    content: '❌';
    margin: auto;
}

.checkbox:checked+label {
    text-decoration: line-through;
}

#action-container {
    display: none;
    grid-template:
        'a b c' ;
    width: 552px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid #dfdfdf;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.clear-container,
.button-container,
.items-container{
    margin: 5px;
}

.button-container button{
    margin-left: 3%;
}

#action-container button {
    border: 2px solid transparent; 
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

  #action-container button:hover {
    box-shadow: 0 0 2px 2px #ffffff;
    outline: 0;
}

#action-container button.active {
    border-color: red;
}

footer{
    font-size: 15px;
    text-align: center;
    color: gray;
    margin-top: 4%;
    margin-bottom: 1%;
}

@media (max-width: 450px){

    h1 {
        width: 100%;
        font-size: 50px;
        font-weight: 70;  
    }
    #input-form{
        width: 380px;
        text-align: center;
        scroll-padding: 10px;
    }
    #list li{
        width: 380px;
    }
    #action-container{
        width: 380px;
    }
    footer{
        width: 380px;
    }
}




